# Team Green Project:  Scrub Global Temperature File
### Note:  Temperatures are in Celsius

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# File to Load
temp_data_to_load = "data/GlobalTemperatures.csv"

# Read Temperature Data
temp_data = pd.read_csv(temp_data_to_load)

In [3]:
temp_data.head()

           dt  LandAverageTemperature  LandAverageTemperatureUncertainty  LandMaxTemperature  LandMaxTemperatureUncertainty  LandMinTemperature  LandMinTemperatureUncertainty  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty
0  1750-01-01                   3.034                              3.574                 NaN                            NaN                 NaN                            NaN                             NaN                                        NaN
1  1750-02-01                   3.083                              3.702                 NaN                            NaN                 NaN                            NaN                             NaN                                        NaN
2  1750-03-01                   5.626                              3.076                 NaN                            NaN                 NaN                            NaN                             NaN                                        NaN
3  1750-04-01                   8.490                              2.451                 NaN                            NaN                 NaN                            NaN                             NaN                                        NaN
4  1750-05-01                  11.573                              2.072                 NaN                            NaN                 NaN                            NaN                             NaN                                        NaN

In [4]:
# Create a new dataset with only dt, LandAndOceanAverageTemperature, and LandAndOceanAverageTemperatureUncertainty
temp_data_1 = temp_data[['dt', 'LandAndOceanAverageTemperature', 'LandAndOceanAverageTemperatureUncertainty']]
temp_data_1

              dt  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty
0     1750-01-01                             NaN                                        NaN
1     1750-02-01                             NaN                                        NaN
2     1750-03-01                             NaN                                        NaN
3     1750-04-01                             NaN                                        NaN
4     1750-05-01                             NaN                                        NaN
...          ...                             ...                                        ...
3187  2015-08-01                          17.589                                      0.057
3188  2015-09-01                          17.049                                      0.058
3189  2015-10-01                          16.290                                      0.062
3190  2015-11-01                          15.252                                      0.063
3191  2015-12-01                          14.774                                      0.062

[3192 rows x 3 columns]

In [6]:
# Drop rows with NaN
temp_data_2 = temp_data_1.dropna()
temp_data_2

              dt  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty
1200  1850-01-01                          12.833                                      0.367
1201  1850-02-01                          13.588                                      0.414
1202  1850-03-01                          14.043                                      0.341
1203  1850-04-01                          14.667                                      0.267
1204  1850-05-01                          15.507                                      0.249
...          ...                             ...                                        ...
3187  2015-08-01                          17.589                                      0.057
3188  2015-09-01                          17.049                                      0.058
3189  2015-10-01                          16.290                                      0.062
3190  2015-11-01                          15.252                                      0.063
3191  2015-12-01                          14.774                                      0.062

[1992 rows x 3 columns]

In [11]:
# Create a Year Column
# Disable the SettingWithCopyWarning warning
pd.options.mode.chained_assignment = None
temp_data_2['Year'] = temp_data_2.dt.str[:4]
temp_data_2

              dt  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty  Year
1200  1850-01-01                          12.833                                      0.367  1850
1201  1850-02-01                          13.588                                      0.414  1850
1202  1850-03-01                          14.043                                      0.341  1850
1203  1850-04-01                          14.667                                      0.267  1850
1204  1850-05-01                          15.507                                      0.249  1850
...          ...                             ...                                        ...   ...
3187  2015-08-01                          17.589                                      0.057  2015
3188  2015-09-01                          17.049                                      0.058  2015
3189  2015-10-01                          16.290                                      0.062  2015
3190  2015-11-01                          15.252                                      0.063  2015
3191  2015-12-01                          14.774                                      0.062  2015

[1992 rows x 4 columns]

In [21]:
# Group by Year and get average of both numerical columns
temp_data_3 = temp_data_2.groupby('Year').mean().reset_index()
temp_data_3

     Year  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty
0    1850                       14.867167                                   0.308167
1    1851                       14.991833                                   0.312083
2    1852                       15.006500                                   0.316417
3    1853                       14.955167                                   0.283833
4    1854                       14.991000                                   0.276417
5    1855                       15.021083                                   0.291167
6    1856                       14.879333                                   0.260167
7    1857                       14.758250                                   0.259750
8    1858                       14.881500                                   0.251833
9    1859                       14.929917                                   0.258250
10   1860                       14.882917                                   0.252167
11   1861                       14.800667                                   0.278500
12   1862                       14.740083                                   0.287667
13   1863                       14.935750                                   0.316333
14   1864                       14.896500                                   0.287833
15   1865                       14.996667                                   0.304250
16   1866                       15.057000                                   0.286083
17   1867                       15.058667                                   0.285750
18   1868                       15.096917                                   0.249333
19   1869                       15.065500                                   0.243583
20   1870                       15.004333                                   0.224833
21   1871                       15.005917                                   0.232000
22   1872                       15.019333                                   0.230500
23   1873                       15.049250                                   0.222083
24   1874                       14.957000                                   0.213333
25   1875                       14.921917                                   0.197083
26   1876                       14.909417                                   0.193333
27   1877                       15.282667                                   0.196750
28   1878                       15.357417                                   0.186250
29   1879                       15.064417                                   0.183417
30   1880                       15.008667                                   0.172917
31   1881                       15.087167                                   0.170083
32   1882                       15.056583                                   0.160083
33   1883                       14.963250                                   0.151167
34   1884                       14.833250                                   0.150667
35   1885                       14.854417                                   0.154917
36   1886                       14.835250                                   0.145333
37   1887                       14.816000                                   0.150167
38   1888                       14.994083                                   0.149250
39   1889                       15.113417                                   0.152417
40   1890                       14.840750                                   0.149667
41   1891                       14.943833                                   0.153583
42   1892                       14.882500                                   0.156000
43   1893                       14.912250                                   0.154250
44   1894                       14.914750                                   0.150333
45   1895                       14.969000                                   0.146833
46   1896                       15.090583                                   0.148000
47   1897                       15.075333                                   0.149333
48   1898                       14.886917                                   0.148500
49   1899                       15.048333                                   0.147500
50   1900                       15.143917                                   0.150250
51   1901                       15.073333                                   0.145750
52   1902                       14.958333                                   0.135500
53   1903                       14.836583                                   0.134833
54   1904                       14.810417                                   0.133083
55   1905                       14.954667                                   0.129000
56   1906                       15.031917                                   0.128583
57   1907                       14.874833                                   0.125833
58   1908                       14.838167                                   0.125083
59   1909                       14.790333                                   0.119500
60   1910                       14.819083                                   0.117583
61   1911                       14.776000                                   0.115167
62   1912                       14.877167                                   0.116917
63   1913                       14.908750                                   0.117083
64   1914                       15.076250                                   0.125250
65   1915                       15.143750                                   0.134250
66   1916                       14.901333                                   0.134833
67   1917                       14.809750                                   0.140500
68   1918                       14.959833                                   0.148167
69   1919                       15.006750                                   0.142833
70   1920                       15.026250                                   0.135583
71   1921                       15.102083                                   0.129167
72   1922                       15.012333                                   0.124083
73   1923                       15.027833                                   0.122667
74   1924                       15.039333                                   0.124500
75   1925                       15.090333                                   0.123917
76   1926                       15.241083                                   0.122417
77   1927                       15.122250                                   0.121667
78   1928                       15.132250                                   0.123333
79   1929                       14.967417                                   0.124667
80   1930                       15.172500                                   0.128917
81   1931                       15.228250                                   0.129083
82   1932                       15.188000                                   0.129417
83   1933                       15.012917                                   0.127083
84   1934                       15.144500                                   0.124417
85   1935                       15.118833                                   0.122333
86   1936                       15.166167                                   0.120333
87   1937                       15.300500                                   0.120000
88   1938                       15.293083                                   0.118583
89   1939                       15.302333                                   0.120583
90   1940                       15.372083                                   0.122833
91   1941                       15.384667                                   0.115917
92   1942                       15.325333                                   0.133083
93   1943                       15.345000                                   0.133667
94   1944                       15.449083                                   0.127750
95   1945                       15.330750                                   0.130333
96   1946                       15.262750                                   0.132417
97   1947                       15.310167                                   0.128750
98   1948                       15.261167                                   0.128500
99   1949                       15.222750                                   0.107417
100  1950                       15.139500                                   0.102333
101  1951                       15.311167                                   0.098917
102  1952                       15.363083                                   0.101667
103  1953                       15.421083                                   0.102250
104  1954                       15.230583                                   0.095333
105  1955                       15.174333                                   0.088083
106  1956                       15.106000                                   0.079667
107  1957                       15.374083                                   0.084417
108  1958                       15.382083                                   0.074500
109  1959                       15.340500                                   0.073917
110  1960                       15.291917                                   0.069333
111  1961                       15.379917                                   0.067167
112  1962                       15.325583                                   0.072500
113  1963                       15.376667                                   0.068333
114  1964                       15.117083                                   0.065167
115  1965                       15.195750                                   0.067250
116  1966                       15.264667                                   0.063667
117  1967                       15.294167                                   0.059250
118  1968                       15.263917                                   0.060167
119  1969                       15.390500                                   0.055167
120  1970                       15.332667                                   0.053250
121  1971                       15.200000                                   0.056167
122  1972                       15.292917                                   0.055833
123  1973                       15.404750                                   0.054917
124  1974                       15.168083                                   0.056250
125  1975                       15.238667                                   0.055333
126  1976                       15.131083                                   0.057417
127  1977                       15.408250                                   0.053000
128  1978                       15.300917                                   0.055500
129  1979                       15.414167                                   0.047500
130  1980                       15.491833                                   0.053667
131  1981                       15.516167                                   0.052333
132  1982                       15.341917                                   0.054750
133  1983                       15.520250                                   0.055833
134  1984                       15.344167                                   0.057167
135  1985                       15.340667                                   0.053917
136  1986                       15.384000                                   0.053250
137  1987                       15.524500                                   0.053333
138  1988                       15.555750                                   0.053250
139  1989                       15.441583                                   0.055917
140  1990                       15.629333                                   0.057250
141  1991                       15.598000                                   0.055083
142  1992                       15.453000                                   0.058167
143  1993                       15.466417                                   0.059167
144  1994                       15.535000                                   0.058583
145  1995                       15.637833                                   0.060417
146  1996                       15.524667                                   0.059500
147  1997                       15.713833                                   0.059167
148  1998                       15.826000                                   0.063000
149  1999                       15.600333                                   0.063333
150  2000                       15.610667                                   0.063500
151  2001                       15.767500                                   0.064583
152  2002                       15.829167                                   0.062917
153  2003                       15.826583                                   0.064333
154  2004                       15.757250                                   0.061250
155  2005                       15.879250                                   0.060833
156  2006                       15.813500                                   0.061000
157  2007                       15.827333                                   0.059083
158  2008                       15.721250                                   0.057250
159  2009                       15.827167                                   0.058917
160  2010                       15.895500                                   0.058583
161  2011                       15.769500                                   0.059000
162  2012                       15.802333                                   0.061500
163  2013                       15.854417                                   0.064667
164  2014                       15.913000                                   0.063167
165  2015                       16.058583                                   0.060833

In [35]:
# Convert Year column to int, then filter for Years 1990 on
temp_data_3['Year'] = temp_data_3['Year'].astype(str).astype(int)
target_years = temp_data_3['Year'] >= 1990
temp_data_3 = temp_data_3[target_years]
temp_data_3

     Year  LandAndOceanAverageTemperature  LandAndOceanAverageTemperatureUncertainty
140  1990                       15.629333                                   0.057250
141  1991                       15.598000                                   0.055083
142  1992                       15.453000                                   0.058167
143  1993                       15.466417                                   0.059167
144  1994                       15.535000                                   0.058583
145  1995                       15.637833                                   0.060417
146  1996                       15.524667                                   0.059500
147  1997                       15.713833                                   0.059167
148  1998                       15.826000                                   0.063000
149  1999                       15.600333                                   0.063333
150  2000                       15.610667                                   0.063500
151  2001                       15.767500                                   0.064583
152  2002                       15.829167                                   0.062917
153  2003                       15.826583                                   0.064333
154  2004                       15.757250                                   0.061250
155  2005                       15.879250                                   0.060833
156  2006                       15.813500                                   0.061000
157  2007                       15.827333                                   0.059083
158  2008                       15.721250                                   0.057250
159  2009                       15.827167                                   0.058917
160  2010                       15.895500                                   0.058583
161  2011                       15.769500                                   0.059000
162  2012                       15.802333                                   0.061500
163  2013                       15.854417                                   0.064667
164  2014                       15.913000                                   0.063167
165  2015                       16.058583                                   0.060833

In [36]:
# Save Data to .csv
# Save scrubbed file to .csv
temp_data_3.to_csv(r'Data/temp_data.csv', index = False, header=True)