Population Data

In [8]:
# Dependencies
import pandas as pd
import numpy as np

In [9]:
# Name of the CSV file
file = 'population_data.csv'

In [10]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [11]:
df

    year  population_millions
0   1993          5581597.598
1   1994          5663150.428
2   1995          5744212.930
3   1996          5824891.931
4   1997          5905045.647
5   1998          5984794.075
6   1999          6064239.033
7   2000          6143493.806
8   2001          6222626.531
9   2002          6301773.172
10  2003          6381185.141
11  2004          6461159.391
12  2005          6541906.956
13  2006          6623517.917
14  2007          6705946.643
15  2008          6789088.672
16  2009          6872766.988
17  2010          6956823.588
18  2011          7041194.168
19  2012          7125827.957
20  2013          7210582.041
21  2014          7295290.759
22  2015          7379796.967
23  2016          7464021.934
24  2017          7547858.900
25  2018          7631091.113
26  2019          7713468.205
27  2020          7794798.729